@charset "utf-8";
/* CSS Document */


body{
	margin: 0;
	min-width: 980px;
	padding: 0;
	background-color: #fff;
	background:url(images/) 50% 0 no-repeat fixed;
}

}
img{
	border: 0;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 120px 0 0;
	
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
}


#intro{
	background:url(images/fishcatch3.png) 50% 0 no-repeat fixed;
	color: black;
	height: 700px;
	margin: 0 auto;
	padding: 0;
	background-color: black;
}

#second{
	/*background: url(images/two.jpg) 50% 0 no-repeat fixed;*/
	color: #000;
	height: 700px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background: url(images/born.png) 50% 0 no-repeat fixed;
	background-color: black;
}

#second .bg{
	height: 700px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 970px;
	z-index: 200;
}

#third{
	background: url(images/light.png) 50% 0 no-repeat fixed;
	color: black;
	height: 700px;
	padding: 100px 0 0 0;	
	background-color: black;
}

#fourth{
	background: url(images/force.png) 50% 0 no-repeat fixed;
	height: 660px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

#fifth{
	background: url(images/fire.png) 50% 0 no-repeat fixed;
	height: 650px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}



.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}
.logo{
	position: absolute;
	margin-top: -306px;
	margin-left: 420px;
	z-index: 1000;
	-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}.animated.hinge{-webkit-animation-duration:4s;-moz-animation-duration:4s;-ms-animation-duration:4s;-o-animation-duration:4s;animation-duration:4s;}@-webkit-keyframes rotateOutDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		-webkit-transform: rotate(0);
		opacity: 1;
	}	100% {
		-webkit-transform-origin: right bottom;
		-webkit-transform: rotate(-90deg);
		opacity: 0;
	}
}

@-moz-keyframes rotateOutDownRight {
	0% {
		-moz-transform-origin: right bottom;
		-moz-transform: rotate(0);
		opacity: 1;
	}
	
	100% {
		-moz-transform-origin: right bottom;
		-moz-transform: rotate(-90deg);
		opacity: 0;
	}
}

@-o-keyframes rotateOutDownRight {
	0% {
		-o-transform-origin: right bottom;
		-o-transform: rotate(0);
		opacity: 1;
	}
	
	100% {
		-o-transform-origin: right bottom;
		-o-transform: rotate(-90deg);
		opacity: 0;
	}
}

@keyframes rotateOutDownRight {
	0% {
		transform-origin: right bottom;
		transform: rotate(0);
		opacity: 1;
	}
	
	100% {
		transform-origin: right bottom;
		transform: rotate(-90deg);
		opacity: 0;
	}
}

.rotateOutDownRight {
	-webkit-animation-name: rotateOutDownRight;
	-moz-animation-name: rotateOutDownRight;
	-o-animation-name: rotateOutDownRight;
	animation-name: rotateOutDownRight;
}
